@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar_signup__gradient{
    background: linear-gradient(180deg, #006D44 0%, #B1FD55 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dot_title__component{
    width: 14px;
    height: 14px;
    border-radius: 9999px;
    background: linear-gradient(180deg, #146374 0%, #B1FD55 89.5%);
}

.explore_component__gradient1{
    background: linear-gradient(180deg, #146374 0%, #B1FD55 89.5%);
}

.explore_content_arrow_box__shadow{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title_box__shadow{
    box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.25);
}

.rmore_gradient{
    background: linear-gradient(180deg, #1720E9 0%, #0D58F1 43.23%, #0D58F1 43.24%, #AC00FD 100%);
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.header_bg__img{
    /* background: linear-gradient(172.19deg, #000000 0.11%, rgba(20, 116, 76, 0.78) 93.97%); */
    /* background: linear-gradient(173.31deg, rgba(20, 116, 76, 0.78) -50.41%, rgba(177, 253, 85, 0) 94.75%); */
    background: url("./assets/bgFrame2.png");

}

.header_bg__img_{
    background: linear-gradient(172.19deg, #000000 0.11%, rgba(20, 116, 76, 0.78) 93.97%);
}

.header_comment__calc{
    position: absolute;
    top: 180px;

    right: calc(1350px - 100vw);
}

@media screen and (max-width:1024px) {
    .header_comment__calc{
        position: absolute;
        top: 100px;
        right: 0;
    }
}

.show_bg__img{
    opacity: 1;
    transition: 0.75s ease all;
}

.spiral1_bg__img{
    background: url("./assets/spiral1.png");
}

.spiral2_bg__img{
    background: url("./assets/spiral2.png");
}

.spiral3_bg__img{
    background: url("./assets/spiral3.png");
}

.header_bg__icon_{
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}
.header_bg__icon{
    box-shadow: 0px 2.72px 27.2px rgba(0, 0, 0, 0.25);
}

.rm__gradient{
    background: linear-gradient(180deg, #1720E9 0%, #146374 0.01%, #146374 28.13%, #1DDC75 72.4%, #B1FD55 100%);
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.25);
}

.bg_frame__1{
    background: url("./assets/bgFrame1.png");
}

.testimonial_comp__gradient{
    background: linear-gradient(180deg, #146374 0%, #94C15D 100%);
}

.frame__animation{
    opacity: 0.4;
    transition: 0.5s ease all;
}

.sLide{
    opacity: 0;
    transition: 0.5s ease all;
}

.sLide.active{
    opacity: 1;
}

.news_comp__gradient{
    background: linear-gradient(180deg, #146374 0%, #B1FD55 100%);
}

.news_comp__box_shadow{
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}

.news_btn__gradient{
    background: linear-gradient(180deg, #146374 0%, #B1FD55 100%);
}

.stats_bg__frame{
    background: url("./assets/statsBg.png");
}

.popup_btn__gradient{
    background: linear-gradient(180deg, #006D44 0%, #B1FD55 100%);
}

/* project section */
.search_box__shadow{
    box-shadow: 0px 4px 4px #0000001a;
}

.project_path__search_box__shadow{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.project_bg__gradient{
    /* background: linear-gradient(173.31deg, rgba(177, 253, 85, 0) -50.41%, rgba(20, 116, 76, 0.78) 94.75%); */
    background: url("./assets/bgFrame2.png");
}


/* faqs section */
.accordion_box__shadow{
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.06);
}

.faqs_box__shadow{
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}


/* about section */
.about_team__gradient{
    background: linear-gradient(188.59deg, #D9D9D9 -57.72%, #FFFFFF 75.2%);
    width: calc(100% - 28rem);
}

.about_team_btn__gradient{
    background: linear-gradient(180deg, #B1FD55 0%, #14744C 43.23%, #006D44 54.69%, #14744C 100%);
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1024px) {
    .about_team__gradient{
        width: calc(100% - 2rem);
    }
}